@using PresentationLayer.Models;
@using DataLayer.Enums;
@using System

@model List<UserViewModel>
@{
    ViewData["Title"] = "Home User";
}
<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                <a asp-action="UserEnter" asp-controller="User" asp-route-pageId="0" asp-route-pageType="@DataEnums.UserType.User">Login</a>
            </li>
            <li>
                <a asp-action="UserEditor" asp-controller="User" asp-route-pageId="0" asp-route-pageType="@DataEnums.UserType.User">Registration</a>
            </li>
        </ul>
    </div>
</div>
